@model EnterprisePortal.Models.SendEmailViewModel
@{
    Layout = "~/Views/Login/_LayoutLogin.cshtml";
}

@section head
{
    <title>重設密碼</title>
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { role = "form" }))
{
    <h3 class="mb-4">重設密碼</h3>
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "您的Email" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="text-center">
        @if (TempData["message"] != null)
        {<span style="color:red">@TempData["message"].ToString()</span>}
    </div>
    <input type="submit" class="btn btn-primary mb-4 shadow-2" value="以電子郵件傳送連結" />
    <p class="mb-0 text-muted">返回<a href="~/Login/Login"> 登入</a></p>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}