@model IEnumerable<EnterprisePortal.Models.MessageList>

@{
    string title = "訊息";
    string listName = title + "列表";
    ViewBag.Title = title;
}

@section styles{
    <style>
        .dialog-container {
            height: 120px;
        }

        .dialog-box-link {
            position: relative;
            display: block;
            height: 100%;
        }

        .background-image-style {
            width: 100%;
            opacity: 0.2;
            border-radius: 3px;
        }

        .dialog-text {
            background-color: rgba(255,255,255,0.3);
            min-width: 90%;
            border-radius: 5px;
            position: absolute;
            top: 20px;
            left: 25px;
            font-weight: bold;
            color: black;
            padding: 5px 10px;
        }

        .dialog-title {
            font-size: 20px;
        }

        .last-message {
            padding-bottom: 20px;
        }

        .time-box {
            position: relative;
        }

        .bin-position {
            position: absolute;
            bottom: 15px;
            right: 30px;
        }
    </style>
}

<div class="page-header">
    <div class="page-header-title">
        <h4>@title</h4>
        <span>一個問與答的空間。</span>
    </div>
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["indexUrl"]">
                    <i class="icofont icofont-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#!">@listName</a>
            </li>
        </ul>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>@listName</h5>
                    <span>對方可能不會即時回應，請耐心等候。</span>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th style="width:80%">訊息標題</th>
                                    <th style="width:20%">回應時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="dialog-container">
                                        @if (item.ActivityId != null)
                                        {
                                            var lastMessage = item.Messages.OrderByDescending(o => o.Time).FirstOrDefault();
                                            <td>
                                                <a href="@Url.Action("Messages",new { id = item.MessageListId})" class="dialog-box-link">
                                                    <img src="@item.Activity.Picture.Substring(1)" alt="picture" class="background-image-style" />
                                                    <ul class="dialog-text">
                                                        <li><label class="label label-md label-success">活動</label></li>
                                                        <li class="dialog-title">@item.Activity.Title</li>
                                                        <li class="last-message">
                                                            @if (lastMessage != null)
                                                            {
                                                                if (lastMessage.SenderId != ViewBag.CurrentUser)
                                                                {
                                                                    <span>對方: </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>您: </span>
                                                                }
                                                                if (lastMessage.Text.Length > 20)
                                                                {
                                                                    <span>@lastMessage.Text.Substring(0, 20) ...</span>
                                                                }
                                                                else
                                                                {
                                                                    @lastMessage.Text
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>尚無對話訊息。</span>
                                                            }
                                                        </li>
                                                    </ul>
                                                </a>
                                            </td>
                                            <td class="time-box">
                                                <div>
                                                    @if (lastMessage != null)
                                                    {
                                                        @lastMessage.Time.ToString("MM-dd HH:mm")
                                                    }
                                                </div>
                                                <div class="bin-position">
                                                    @Html.ActionLink(" ", "Delete", new { id = item.MessageListId }, new { @class = "edit-delete-btn ti-trash delete", @data_toggle = "modal", @data_target = "#myModal", @data_id = item.MessageListId, @title = "刪除" })
                                                </div>
                                            </td>

                                        }
                                        else
                                        {
                                            var lastMessage = item.Messages.OrderByDescending(o => o.Time).FirstOrDefault();
                                            <td>
                                                <a href="@Url.Action("Messages",new { id = item.MessageListId})" class="dialog-box-link">
                                                    <img src="@item.Voting.Picture.Substring(1)" alt="picture" class="background-image-style" />
                                                    <ul class="dialog-text">
                                                        <li><label class="label label-md label-warning">投票</label></li>
                                                        <li class="dialog-title">@item.Voting.Title</li>
                                                        <li class="last-message">
                                                            @if (lastMessage != null)
                                                            {
                                                                if (lastMessage.SenderId != ViewBag.CurrentUser)
                                                                {
                                                                    <span>對方: </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>您: </span>
                                                                }
                                                                if (lastMessage.Text.Length > 20)
                                                                {
                                                                    <span>@lastMessage.Text.Substring(0, 20) ...</span>
                                                                }
                                                                else
                                                                {
                                                                    @lastMessage.Text
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>尚無對話訊息。</span>
                                                            }
                                                        </li>
                                                    </ul>
                                                </a>
                                            </td>
                                            <td class="time-box">
                                                <div>
                                                    @if (lastMessage != null)
                                                    {
                                                        @lastMessage.Time.ToString("MM-dd hh:mm")
                                                    }
                                                </div>
                                                <div class="bin-position">
                                                    @Html.ActionLink(" ", "Delete", new { id = item.MessageListId }, new { @class = "edit-delete-btn ti-trash delete", @data_toggle = "modal", @data_target = "#myModal", @data_id = item.MessageListId, @title = "刪除" })
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="itemid" value="" />
                        @Html.AntiForgeryToken()
                        @Html.Partial("_ModalDeletePartial")
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["modalTitle"] != null)
        {
            @Html.Partial("_ModalInfoPartial")
        }
    </div>
</div>

@section Scripts {
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $('#infoModal').modal('show');

        const config = {
            "order": [[1, "desc"]],
            language: chineseVersion
        };
        $('#table').dataTable(config);

        $('.dataTables_filter').find('input[type=search]').attr('placeholder', '依關鍵字搜尋').attr('style', 'outline:none;border:0.5px solid;padding:5px 10px');
    </script>
}