@model IEnumerable<EnterprisePortal.Models.Voting>
@using PagedList.Mvc;
@using PagedList;

@{
    string title = "投票";
    string fullTitle = title + "系統";
    string listName = title + "列表";
    ViewBag.Title = fullTitle;
}

@section styles{
    <style>
        .search-input-style {
            height: 32px;
            margin-bottom: 10px;
        }

            .search-input-style:focus {
                outline: none;
                border-color: #0073AA;
            }

        .search-date {
            color: transparent;
        }

            .search-date::before {
                color: grey;
                content: attr(placeholder);
            }

        .table-title-style {
            color: black;
        }
    </style>
}

<div class="page-header">
    <div class="page-header-title">
        <h4>@fullTitle</h4>
        <span>收集大家意見的地方。</span>
    </div>
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["indexUrl"]">
                    <i class="icofont icofont-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#!">@listName</a>
            </li>
        </ul>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>@listName</h5>
                    <button type="button" class="ti-plus little-plus-btn" id="createBtn" title="新增投票"></button>
                    <span>依日期篩選時，起迄時間需一起填入。為了公正性，投票發送以後盡量不要更改問題內容喔。</span>
                </div>
                <div class="card-block">
                    <div>
                        @using (Html.BeginForm("Index", "Votings", FormMethod.Get))
                        {
                            <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="依投票主題搜尋" class="col-sm-2 search-input-style" />
                            @Html.DropDownListFor(model => model.FirstOrDefault().VotingStatus, (SelectList)ViewBag.Status, new { @class = "col-md-1 search-input-style", Name = "filterStatus" })
                            <input type="date" name="endTimeStart" value="@ViewBag.EndTimeStart" placeholder="投票截止日期起" class="col-sm-2 search-date search-input-style" id="endStart" />
                            <input type="date" name="endTimeEnd" value="@ViewBag.EndTimeEnd" placeholder="投票截止日期迄" class="col-sm-2 search-date search-input-style" id="endEnd" />
                            <input type="date" name="publishedDateStart" value="@ViewBag.PublishedStart" placeholder="投票發佈日期起" class="col-sm-2 search-date search-input-style" id="pubStart" />
                            <input type="date" name="publishedDateEnd" value="@ViewBag.PublishedEnd" placeholder="投票發佈日期迄" class="col-sm-2 search-date search-input-style" id="pubEnd" />
                            <button type="submit" class="ti-search little-plus-btn" title="搜尋"></button>
                            <button type="button" class="ti-close little-plus-btn" id="removeFilterBtn" title="解除搜尋/排序"></button>
                        }
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.ActionLink("狀態", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "table-title-style" })
                                        <i class="icofont icofont-sort" style="color:lightgray"></i>
                                    </th>
                                    <th>
                                        @Html.ActionLink("投票截止日", "Index", new { sortOrder = ViewBag.EndTimeSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "table-title-style" })
                                        <i class="icofont icofont-sort" style="color:lightgray"></i>
                                    </th>
                                    <th>
                                        @Html.ActionLink("發佈日期", "Index", new { sortOrder = ViewBag.PublishedDateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "table-title-style" })
                                        <i class="icofont icofont-sort" style="color:lightgray"></i>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @if (item.VotingStatus)
                                            {
                                                <label class="label label-md label-inverse-success">進行中</label>
                                            }
                                            else
                                            {
                                                <label class="label label-md label-inverse-default">已結束</label>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PublishedDate)
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = item.VotingId }, new { @class = "edit-delete-btn ti-pencil-alt", @title = "編輯" })
                                            @Html.ActionLink(" ", "Delete", new { id = item.VotingId }, new { @class = "edit-delete-btn ti-trash delete", @data_toggle = "modal", @data_target = "#myModal", @data_id = item.VotingId, @title = "刪除" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="itemid" value="" />
                        @Html.AntiForgeryToken()
                    </div>
                </div>
                <div class="card-block">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                    new PagedListRenderOptions
                    {
                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 10
                    })
                </div>
                @Html.Partial("_ModalDeletePartial")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script>
       function verifyInputDateHasValue() {
            if ($('#endStart').val() != "") {
                $('#endStart').removeClass('search-date');
            }
            if ($('#endEnd').val() != "") {
                $('#endEnd').removeClass('search-date');
            }
            if ($('#pubStart').val() != "") {
                $('#pubStart').removeClass('search-date');
            }
            if ($('#pubEnd').val() != "") {
                $('#pubEnd').removeClass('search-date');
            }
        }
        verifyInputDateHasValue();

        $('input[type="date"]').change(function () {
            $(this).removeClass('search-date');
        });

        $('#removeFilterBtn').click(function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("Index")';
        });
    </script>
}